#title {
    color: black;
}

nav {
    display: block;
}

nav ul {
    display: inline-block;
    padding: 0;
    background: #6d69ea;
    border: 10px solid #2140f5;
    border-radius: 20px
}

nav ul li {
    display: inline-block;
    border-right: 3px solid #2140f5;
    padding: 10px 0;
}

nav ul li:last-child {
    border-right: 0;
}

nav ul li a {
    padding: 10px;
}

nav ul li:first-child a {
    border-radius: 10px 0 0 10px
}

nav ul li:last-child a {
    border-radius: 0 10px 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background: white;
    color: black;
}

p {
    font-size: 18px;
}

#rules {
    text-align: left;
}

#rules * {
    text-align: left;
}

#rules .center {
    text-align: center;
}