p {
    font-size: 18px;
}

img {
    user-select: none;
}

#background {
    opacity: 50%;
    position: fixed;
    left: 0;
    top: 0;
    height: auto;
    width: auto;
    min-height: 100vw;
    min-width: 100vw;
    z-index: -1;
}

.card {
    height: 350px;
}