div {
    overflow: auto;
}

#base-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 5px;
    overflow: auto;
}

#game-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    overflow: auto;
}

.buyable {
    cursor: pointer;
}

p {
    height: 20px;
    margin: 5px;
}