div {
    overflow: auto;
}

#base-cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    gap: 5px;
    justify-items: center;
    margin-bottom: 30px;
}

#game-cards {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px 5px;
    justify-items: center;
    margin-bottom: 30px;
}

.buyable {
    cursor: pointer;
}

article {
    height: calc(23.66vh - 20px)
}

p {
    margin: 0
}

img {
    width: auto;
    height: calc(calc(23.66vh - 20px) - 18px);
}