<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <img id="background" src="{{ url_for('static', filename='images/rules-background.jpg') }}" alt="">
    <h1 id='title' style="text-align: center; font-family: 'Comic Sans MS',serif">Welcome to Dominion</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('new_game') }}">New Game</a></li><li><a href="{{ url_for('tutorial', step=0) }}">Tutorial</a></li><li><a href="/gamebrowser">Finished Games</a></li><li><a href="/data/">Most Common Card</a></li>
        </ul>
    </nav>
    <div>
        <h1 class="center">
            Data on Game Results
        </h1>
        <h2>Most common card at end of game: </h2>
        <p>{{ card }} </p>
        <img src="{{ images[card] }}"class="card" alt="{{ card }} ">
        <!-- <div>
            Money: _%
            Action: _%
            Victory: _%
        </div> -->
    </div>
</body>
</html>