<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='rules.css') }}">
</head>
<body>
    <img id="background" src="{{ url_for('static', filename='images/rules-background.jpg') }}" alt="">
    <div>
        <h1 class="center">
            Data on Game Results
        </h1>
        <h2>Most common card at end of game: </h2>
        <p>{{ card }} </p>
        <img src="{{ images[card] }}"class="card" alt="{{ card }} ">
        <!-- <div>
            Money: _%
            Action: _%
            Victory: _%
        </div> -->
    </div>
</body>
</html>