<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finished Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='finished-games.css') }}">
</head>
<body>
<img id="background" src="{{ url_for('static', filename='images/rules-background.jpg') }}" alt="">
<h1 id='title' style="text-align: center; font-family: 'Comic Sans MS',serif">Welcome to Dominion</h1>
<nav>
  <ul>
    <li><a href="{{ url_for('new_game') }}">New Game</a></li><li><a href="{{ url_for('tutorial', step=0) }}">Tutorial</a></li><li><a href="/gamebrowser">Finished Games</a></li><li><a href="/data/">Most Common Card</a></li>
  </ul>
</nav>
<div id="games-container">
    {% for game in games %}
    <a href="{{ url_for('get_game', game_id=game['id']) }}">
        <div>
            <p style="float: left">Game {{ game['id'] }}</p>
            <p style="float: right">Score: {{ game['vp'] }}</p>
        </div>
    </a>
    {% endfor %}
</div>
</body>
</html>