<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Treasures and Victories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='card-format.css') }}">
</head>
<body>
    <p style="text-align:center; background:white">Your Hand:</p>

    
    <div id="hand" class="card-container">
        {% for card in hand %}
            <img src="{{ images[card.name] }}"class="card" alt="{{ card.name }} " id="{{ card.id }}">
        {% endfor %}
    </div>
    <br>
    <div id="action-buttons">
        <button onclick="window.location.href=`${window.location}/supply`">View Supply</button>
        <button onclick="endPhase()" id="phase">{{ end_what }}</button>
    </div>
    <div id="turn-info" style="float: right; background-color: white;">
    {% for key in turn_info.keys() %}
        <p id="{{ key.lower() }}">{{ key }}: {{ turn_info[key] }}</p>
    {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='card-layout.js') }}"></script>
    <script>const card_pics = {{ images | tojson }}</script>
    <script src="{{ url_for('static', filename='autorefresh.js') }}"></script>
</body>
</html>