<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Treasures and Victories</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='card-format.css') }}">
</head>
<body>
    <p style="text-align:center; background:white">Your Hand:</p>

    
    <div id="hand" class="card-container">
        {% for card in hand %}
            <img src="{{ images[card.name] }}"class="card {{ card.name }}" alt="{{ card.name }} " id="{{ card.id }}">
            
        {% endfor %}
    </div>
    <button onclick="window.location.href=`${window.location}/supply`">View Supply</button>
    <button onclick="window.location.href=`${window.location}/endphase`">{{ end_what }}</button>
    <div id="turn-info" style="float: right; background-color: white;">
    {% for key in turn_info.keys() %}
        <p>{{ key }}: {{ turn_info[key] }}</p>
    {% endfor %}
    </div>


    <div class="blocker"></div>


    <div id="select" class="select card-container">
        {% for card in selection %}
            <img src="{{ images[card.name] }}"class="card selectable {{ card.name }}" alt="{{ card.name }} " id="{{ card.id }}" onclick="classList.toggle('selected')">
        {% endfor %}
        <button onclick="sendSelection()">Submit</button>
    </div>
    <div id="turn-info" style="float: right; background-color: white;">
    {% for key in turn_info.keys() %}
        <p>{{ key }}: {{ turn_info[key] }}</p>
    {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='card-layout.js') }}"></script>

</body>
</html>