<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <style>
        p {
            margin: 0;
            text-align: left;
        }
    </style>
</head>
<body>
    <img id="background" src="{{ url_for('static', filename='images/rules-background.jpg') }}" alt="">

    <h1 id='title' style="text-align: center; font-family: 'Comic Sans MS',serif">Welcome to Dominion</h1>
    <nav>
        <ul>
            <li><a href="{{ url_for('new_game') }}">New Game</a></li><li><a href="{{ url_for('tutorial', step=0) }}">Tutorial</a></li><li><a href="/gamebrowser">Finished Games</a></li><li><a href="/data/">Most Common Card</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center">Results of Game</h1>
    {% for i in range(victory_points|length) %}
    <p>Player {{ i + 1 }} got {{ victory_points[i] }} victory points!</p>
    <br>
    <p>Their deck composition was:</p>
    <table>
        <tr>
            {% for key in deck_compositions[i] %}
            <td>
                <article>
                    <img src="{{ card_pics[key] }}" class="card">
                    <p>{{ deck_compositions[i][key] }} in deck</p>
                </article>
            </td>

            {% endfor %}
        </tr>
    </table>
    <br><br><br>
    {% endfor %}
</body>
</html>