<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Supply</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='supply-style.css') }}">
</head>
<body>
<img id="background" src="{{ url_for('static', filename='images/supply-background.png') }}" alt="">

<div id="base-cards">
    <article>
        <img src="{{ card_pics['copper'] }}" class="buyable card" id="copper">
        <p>{{ remaining_cards['copper'] }} left</p>
    </article>
    <article>
        <img src="{{ card_pics['silver'] }}" class="buyable card" id="silver">
        <p>{{ remaining_cards['silver'] }} left</p>
    </article>
    <article>
        <img src="{{ card_pics['gold'] }}" class="buyable card" id="gold">
        <p>{{ remaining_cards['gold'] }} left</p>
    </article>
    <article>
        <img src="{{ card_pics['estate'] }}" class="buyable card" id="estate">
        <p>{{ remaining_cards['estate'] }} left</p>
    </article>
    <article>
        <img src="{{ card_pics['duchy'] }}" class="buyable card" id="duchy">
        <p>{{ remaining_cards['duchy'] }} left</p>
    </article>
    <article>
        <img src="{{ card_pics['province'] }}" class="buyable card" id="province">
        <p>{{ remaining_cards['province'] }} left</p>
    </article>
    <article>
        <img src="{{ card_pics['curse'] }}" class="buyable card" id="curse">
        <p>{{ remaining_cards['curse'] }} left</p>
    </article>
</div>
<div id="game-cards">
    {% for card in cards %}
    <article>
        <img src="{{ card_pics[card] }}" id="{{ card }}" class="buyable card">
        <p>{{ remaining_cards[card] }} left</p>
    </article>
    {% endfor %}
</div>

<button onclick="window.location.href = `/${window.location.toString().split('/')[3] + '/' + window.location.toString().split('/')[4]}`">Back to Game</button>
<button onclick="window.location.href=`${window.location}/endphase`">{{ end_what }}</button>
<div>
    <h1 style="text-align: right">Your Money: {{ turn_info['Money'] }}</h1>
    <h1 style="text-align: right">Your Buys: {{ turn_info['Buys'] }}</h1>
</div>
<script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>